<div id="banner">
    <div id="stamp">
        <a href="{{ site.base_url }}/">{{ site.title }}</a>
    </div>
    {% if site.banner_message %}
    <div id="message">
        <p>{{ site.banner_message.text }} {% if site.banner_message.link %}<a href="{{ site.banner_message.link }}">{{ site.banner_message.link_text }}</a>{% endif %}</p>
    </div>
    {% endif %}
    <div id="items">
        <div class="theme-switch-wrapper">
            <div class="theme-switch keypress" id="kpD">
                <span id="theme-icon" class="theme-icon">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="5" stroke="var(--icon-color)" stroke-width="1.5"></circle>
                        <path d="M12 2V4" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M12 20V22" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M4 12L2 12" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M22 12L20 12" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M19.7778 4.22266L17.5558 6.25424" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M4.22217 4.22266L6.44418 6.25424" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M6.44434 17.5557L4.22211 19.7779" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M19.7778 19.7773L17.5558 17.5551" stroke="var(--icon-color)" stroke-width="1.5" stroke-linecap="round"></path>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</div>