{% if not page.custom_nav %}
<nav id="main-nav">
    <ul>
        <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
        {% if site.nav %}
            {% for item in site.nav %}
                <li><a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.text }}</a></li>
            {% endfor %}
        {% endif %}
        <li><a href="/blog/" {% if page.url and page.url.startswith('/blog') %}class="active"{% endif %}>Blog</a></li>
    </ul>
</nav>
{% else %}
{{ page.custom_nav }}
{% endif %}